body{
    color: white;
    background-image: url(tablet1.png);
    background-size: contain;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

button{
    cursor: pointer; 
    transition: opacity 0.3s; 
    margin-bottom: 10px; 
    padding: 10px;
    width: -webkit-fill-available;
    background-color: transparent;
    color: white;
}

h1 {
    font-size: 26px;
}

 .content{
    color: white; 
    width: 300px;
    margin: 0 auto; 
    text-align: center; 
    padding: 20px; 
}

input {
    padding: 10px;
    margin-bottom: 10px; 
}

.container{
    color: white; 
    width: 300px;
    margin: 0 auto; 
    text-align: center; 
    padding: 10px; 
    width: 300px;
}

.custos td tr{
 width: 100%;
 border: 1px solid;
 
}






